<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="cmp58D7AAAFBEABC5E2AB0B9DC9B5E54118" Guid="*">
                <File Id="fil4637E29F6B6CBC156D6D57A576CFC34E" KeyPath="yes" Source="$(var.HarvestPath)\AxInterop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmpA6410FA276AD3F226134ED589610275B" Guid="*">
                <File Id="fil8FCCD6C841D7BE92E5F89B9ED0A1C745" KeyPath="yes" Source="$(var.HarvestPath)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="cmp40CB0D742C07A79DCFDBB4188E2E51AF" Guid="*">
                <File Id="fil4F94C0DEA2C4A13D9215777E2BF5289E" KeyPath="yes" Source="$(var.HarvestPath)\BouncyCastle.Crypto.xml" />
            </Component>
            <Component Id="cmpD2DCD40311718811E689EA8C427D0EB1" Guid="*">
                <File Id="filB67CC12BC62573FBB32EBA5F6A20C17B" KeyPath="yes" Source="$(var.HarvestPath)\chromedriver.exe" />
            </Component>
            <Component Id="cmpA36939D16EA53255F8311CB7D21E9E6C" Guid="*">
                <File Id="fil33F733E5F65BA0DBE85E37936444703C" KeyPath="yes" Source="$(var.HarvestPath)\geckodriver.exe" />
            </Component>
            <Component Id="cmpFC9F0897223CE1BE4F8F4C9A9C15FE73" Guid="*">
                <File Id="filACA27A9E32BEFD1C0E2AE771E0F3C0DA" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Core.dll" />
            </Component>
            <Component Id="cmp0328C4715542CB237D7CFA282ED134BD" Guid="*">
                <File Id="fil45B3ACF73183BB8F7A007B1C7416C756" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Core.pdb" />
            </Component>
            <Component Id="cmp625C7DA3FF068750FCAE9CDE7BB28807" Guid="*">
                <File Id="fil601D5F7E090B6BB5597E05375EC200DD" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Winforms.dll" />
            </Component>
            <Component Id="cmpD9F4A2BDEF930D57C2AF781C159F9F33" Guid="*">
                <File Id="fil51F1A2E028DEC577F4B0C0B439F01FDC" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Winforms.pdb" />
            </Component>
            <Component Id="cmp399ED9264B10FDAAF97C6F536348AD50" Guid="*">
                <File Id="filD71EE51CD85B5F0EE28FA499FE15DF27" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmpAE791216F77EC2FA091A40EEA559FA1A" Guid="*">
                <File Id="filC9EB24024D78C595B3E3CEEA41D47FDC" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmp7D831B28A4DC403CDB1E6D8CF11100E0" Guid="*">
                <File Id="filE92AA68B383236302716BBFBC5B08E25" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.xml" />
            </Component>
            <Component Id="cmp73BDA529D96BD1282941FB412BB1FCD4" Guid="*">
                <File Id="fil4805E690CD378D896C62FFBC1AC81044" KeyPath="yes" Source="$(var.HarvestPath)\IEDriverServer.exe" />
            </Component>
            <Component Id="cmp46BB6BC3671571BE3DDEA3640AD33016" Guid="*">
                <File Id="filC1EE8272E4DC592A4E68F6F923D328E0" KeyPath="yes" Source="$(var.HarvestPath)\ImapX.dll" />
            </Component>
            <Component Id="cmpC0FDBCF665A2705D7EACD32C028826EE" Guid="*">
                <File Id="filE7CA39CBA3709133074C6DAF9EEA6044" KeyPath="yes" Source="$(var.HarvestPath)\Interop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmpBAADFD088FFFEE8E613075A661A4FEDD" Guid="*">
                <File Id="fil86021CBB4C157716FB80ED197EF204BE" KeyPath="yes" Source="$(var.HarvestPath)\JetBrains.Annotations.dll" />
            </Component>
            <Component Id="cmpDA2CDB61EA22F9013AC8D763785133B6" Guid="*">
                <File Id="filA893D8C1BDB94A2989000EDB206C4384" KeyPath="yes" Source="$(var.HarvestPath)\JetBrains.Annotations.xml" />
            </Component>
            <Component Id="cmpBB1ECDA94FE06368CD4B0FAC1A652A62" Guid="*">
                <File Id="fil82E2D38AA0FC2BF1AC0F56055860C5FB" KeyPath="yes" Source="$(var.HarvestPath)\MailKit.dll" />
            </Component>
            <Component Id="cmp014034F01F31A64E736E7FA3B6D65202" Guid="*">
                <File Id="filF48FD16ADFA0C18C1645B2E8349AB610" KeyPath="yes" Source="$(var.HarvestPath)\MailKit.pdb" />
            </Component>
            <Component Id="cmp180527488AB1F15F379FE29457E1F1B3" Guid="*">
                <File Id="filB0C28BABC19B15E684ED31B93166ED9D" KeyPath="yes" Source="$(var.HarvestPath)\MailKit.xml" />
            </Component>
            <Component Id="cmp129D7FD79BAB913D956A4E958428F971" Guid="*">
                <File Id="filB055F381F1662411AC78DFF17EC77D4A" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Client.dll" />
            </Component>
            <Component Id="cmp53E9CF192B51C8F5E910058EFBE708FA" Guid="*">
                <File Id="filED9443971760FD1EDEF7B11B6B793DC5" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Client.pdb" />
            </Component>
            <Component Id="cmp8FDDD50E9E5259B723A914D216EB7AD1" Guid="*">
                <File Id="fil2ADAC648556871909350F42DCD6BA9DA" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Client.xml" />
            </Component>
            <Component Id="cmp5ED48016E97D36877F3D38926FA36EDC" Guid="*">
                <File Id="fil8566D48A3F96425D3D666A5DCB5C6828" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Core.dll" />
            </Component>
            <Component Id="cmpE7F0A2B4FBE1EFF4049C50906D13823A" Guid="*">
                <File Id="filA4AEDA47C74EC5681F7BFC606C5F11D7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Core.pdb" />
            </Component>
            <Component Id="cmp677CBCA9CA54E2F8A9D73B42AC272022" Guid="*">
                <File Id="fil2B842A70563CB607DDC14BE8BE2AEB6B" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.AspNet.SignalR.Core.xml" />
            </Component>
            <Component Id="cmp8E9F81D7FD9CF3CBCFB6946ADFF4256B" Guid="*">
                <File Id="fil042C72DDB6FCBF25E4B372183CA17353" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Office.Interop.Outlook.dll" />
            </Component>
            <Component Id="cmp0009D2008D70C35D77BF4321D67AC4E6" Guid="*">
                <File Id="fil2361E5717E70BB0BB568DE3F35EF329F" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Owin.dll" />
            </Component>
            <Component Id="cmpCA8743A9927ECA60B7931AC68BE5AEFC" Guid="*">
                <File Id="filDD370A167E0B25D7C2DF47731CAB5EE2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Owin.Security.dll" />
            </Component>
            <Component Id="cmpAE60A2C87A644A8F76B7A4DF7FD2111C" Guid="*">
                <File Id="filB01CC361481618C69523D0AADB41EE74" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Owin.Security.xml" />
            </Component>
            <Component Id="cmpED2509792185971713D4CF5E375D9301" Guid="*">
                <File Id="fil702C0605C2F7F379C00FABBE598DE767" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Owin.xml" />
            </Component>
            <Component Id="cmp81349E68864A9DD92CC2BB978EB8DCAA" Guid="*">
                <File Id="filE545CFB391ADBBFDC8FAFA2023D2BDE9" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.TaskScheduler.dll" />
            </Component>
            <Component Id="cmp7BD0B7E18F84542F5AAD59594283DF0F" Guid="*">
                <File Id="fil66F7C3D5A83DF799195EDD34E6B7F043" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.TaskScheduler.xml" />
            </Component>
            <Component Id="cmp189F6AF473792670A4427E7A4D337656" Guid="*">
                <File Id="filC84519381413FC0E26105121C193B33B" KeyPath="yes" Source="$(var.HarvestPath)\MimeKit.dll" />
            </Component>
            <Component Id="cmp3A7CBD429DE881B70A00AF0E42E2125C" Guid="*">
                <File Id="filAC891B1EC6DE58EC2B843EC18021DA04" KeyPath="yes" Source="$(var.HarvestPath)\MimeKit.pdb" />
            </Component>
            <Component Id="cmp8A9838F831A27BD7A5AE7B622A9512E5" Guid="*">
                <File Id="fil0A7843A575FA7B578168AD179D8E82F4" KeyPath="yes" Source="$(var.HarvestPath)\MimeKit.xml" />
            </Component>
            <Component Id="cmp4CDF7DFD2D0E95016925C6786A10C503" Guid="*">
                <File Id="fil58078AD85E0073F162CFFABD8ECDFD92" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpEC5CA923F382FAC50F6D948F86E329B2" Guid="*">
                <File Id="fil59800B0773DA93236D44CAFE982940CE" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmpDEC75638C0BB07F6960173B8498F1A9F" Guid="*">
                <File Id="fil0B5D77A29C06634A8141620BBF2F2C86" KeyPath="yes" Source="$(var.HarvestPath)\OneNoteOCRDll.dll" />
            </Component>
            <Component Id="cmpBB4A738F19BB563645EB311516CA389B" Guid="*">
                <File Id="fil560119F4DCABE848F4B2FC904F81FC9A" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Data.dll" />
            </Component>
            <Component Id="cmp9D1005DF699EBF084805D8735C59BCC8" Guid="*">
                <File Id="fil5D2432C554729112E8FE6431974784DE" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Data.dll.config" />
            </Component>
            <Component Id="cmp8C2511F707D7AA63897ABED227EF4BE3" Guid="*">
                <File Id="fil3940F72E91590233209A95394596C28D" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Data.pdb" />
            </Component>
            <Component Id="cmp5A617858439D8478E29D47BB66B4E58C" Guid="*">
                <File Id="filB202C2DB1ADA301F48B3C16D4019902B" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Database.dll" />
            </Component>
            <Component Id="cmpEACBA7B84643F921B317B0AB9199C1D8" Guid="*">
                <File Id="fil9A3032BF7A6B377D65A903FD7135E757" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Database.pdb" />
            </Component>
            <Component Id="cmp5315A41C4F74625E0074BD0DEBD99879" Guid="*">
                <File Id="fil63AE0AE48875A7478EDEDF67FB942B42" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.DataTable.dll" />
            </Component>
            <Component Id="cmpD972448EB7C8EC4C9948B8C6E1C7D150" Guid="*">
                <File Id="filB032C4E96077BF6FD7C7F28D442E1711" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.DataTable.pdb" />
            </Component>
            <Component Id="cmpAC63E551CD5E4D09359FD6EFB16E5476" Guid="*">
                <File Id="filE402EF885FA1E3E130D2751FDE6815A8" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Dictionary.dll" />
            </Component>
            <Component Id="cmpB20DB7D8CC812FDE418337DAABCED796" Guid="*">
                <File Id="filE617E9C2722342C750895B24AA3FE118" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Dictionary.pdb" />
            </Component>
            <Component Id="cmp5EBFE2CBD839D41D9CB67E021701F5B9" Guid="*">
                <File Id="fil2B85BBB0589AD4BD3F43151AC7619667" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Email.dll" />
            </Component>
            <Component Id="cmp5F4D123B12849EE4BD0998E5A9BEBBFA" Guid="*">
                <File Id="fil57B354004EDEE260EDC6CC177D616B47" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Email.dll.config" />
            </Component>
            <Component Id="cmpA4E7E464633220BCE59C0B4AC40FE573" Guid="*">
                <File Id="fil5A1B2F113A17FE8FCA014CF767299DBA" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Email.pdb" />
            </Component>
            <Component Id="cmp501D25942B22D501CE2C335E6B54AB32" Guid="*">
                <File Id="fil18AEF936D6D12BA77BD424F28AF395C4" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Excel.dll" />
            </Component>
            <Component Id="cmpF459F792F00CE4639AD1DBBFAD6405F5" Guid="*">
                <File Id="filC5EBB42935DACA73414A314CE09B8ECE" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Excel.dll.config" />
            </Component>
            <Component Id="cmpE9DF33DF51CDB0B0D837FFCCD47C8E37" Guid="*">
                <File Id="fil46918A907FBB35345AA3DF55C52AD456" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Excel.pdb" />
            </Component>
            <Component Id="cmp1F6D10ADD1613A64DB921EC13D5BB976" Guid="*">
                <File Id="fil02128892BA41D52FB532D978761015B0" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.File.dll" />
            </Component>
            <Component Id="cmp152ABB2E195D983B770CCF72743208EC" Guid="*">
                <File Id="fil6C2FDCA9A1BAEB4842403B6B77E109A4" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.File.pdb" />
            </Component>
            <Component Id="cmp3D73CD3655835BDC098C5BD4C3199CDD" Guid="*">
                <File Id="fil4E53FECA8BC4AA29024910BB92502994" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Folder.dll" />
            </Component>
            <Component Id="cmp48A1E8CB479900FEC1682E16E7481E6D" Guid="*">
                <File Id="fil603DE1685CA7F3641FD17AB8E60FE5E6" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Folder.pdb" />
            </Component>
            <Component Id="cmp359E34F239AA98DFFAAC3C5DC618DD3E" Guid="*">
                <File Id="filAD330BA671FE856C139BE9F8A6B9AF65" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.List.dll" />
            </Component>
            <Component Id="cmpAD7F6F77D1AEE07F6A29E9025F4E509B" Guid="*">
                <File Id="fil52AE16C144806E40EDA65FCC0498F50F" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.List.dll.config" />
            </Component>
            <Component Id="cmp45471632C9E427299D63311A2CE2F573" Guid="*">
                <File Id="filECA752D92FCEBD90FF24E058C2F3FC07" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.List.pdb" />
            </Component>
            <Component Id="cmpC410F8B1451702A21B219BC8B5E4C14D" Guid="*">
                <File Id="filBB9CF3BDF85456A94FE25FFFB1AF4739" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.NLG.dll" />
            </Component>
            <Component Id="cmp73F91B532377FD78AB3F2669469684ED" Guid="*">
                <File Id="fil63E99C3E215F62AFF1D606B14F88B192" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.NLG.dll.config" />
            </Component>
            <Component Id="cmp4096139D25AA2C7791FE2AD1EC2B0D68" Guid="*">
                <File Id="filDABA3A2F0C3FB60500BF38489BDE7145" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.NLG.pdb" />
            </Component>
            <Component Id="cmpC421924EE4A39ADCD32DC6A600F8B640" Guid="*">
                <File Id="fil8B6510FE09E3BDF4CC49D702170F6241" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Outlook.dll" />
            </Component>
            <Component Id="cmp6B160D553937C9CE4EE8A1DFD856C794" Guid="*">
                <File Id="fil2AF71A1E4191D3BB7264958434C0D173" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Outlook.dll.config" />
            </Component>
            <Component Id="cmp0DE7BCAC8510CC532ADABE557FEE6E2F" Guid="*">
                <File Id="fil1EF9491AD8541BCA29B2441552524C72" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Outlook.pdb" />
            </Component>
            <Component Id="cmp77E3E1E800E519E9369F0E4C1FFEB2D3" Guid="*">
                <File Id="fil52B8BE14E51219A8C688DE3CDF53E680" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Process.dll" />
            </Component>
            <Component Id="cmpACB4E945F2297A77033200BA924C8D6A" Guid="*">
                <File Id="filFD46DD10114CC012B7745C00AA874019" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Process.dll.config" />
            </Component>
            <Component Id="cmp1ED446B79F176AB5C3A5F2E6B37B3B43" Guid="*">
                <File Id="filE7A4C5BA4EC9ECDFE812A103B52E52B5" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Process.pdb" />
            </Component>
            <Component Id="cmp8A927BC5C3279A0E3CAFB55AD0E0A784" Guid="*">
                <File Id="fil432638C095F7D483DB9885B911A3C8F5" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.RegEx.dll" />
            </Component>
            <Component Id="cmp14E424ACDEDCD0FCA40D518CD069E140" Guid="*">
                <File Id="filDB61076017631CB64173FB9581BEBE81" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.RegEx.pdb" />
            </Component>
            <Component Id="cmp6A50A2AD44CA6D815329DD63249F1A93" Guid="*">
                <File Id="fil77501639FF9A8FB21BDF124F0DFAEEB2" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Remote.dll" />
            </Component>
            <Component Id="cmp9DAC9731DF9C92F11DF4A867E0CD010F" Guid="*">
                <File Id="fil979C8AB6DBB39B32B3DC2D596BCF5A01" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Remote.pdb" />
            </Component>
            <Component Id="cmp3A28A8822B173CC9CE1309396718CD7F" Guid="*">
                <File Id="filC9E55D29267E500B401F776E9DF4605B" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.SecureData.dll" />
            </Component>
            <Component Id="cmp25BF0F5937F12C9ED6D6196142C1F5AD" Guid="*">
                <File Id="fil14790EF7ACCAAA7BF21F6D5A65A40180" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.SecureData.pdb" />
            </Component>
            <Component Id="cmpBD6E2818187715A95B383532A3B97453" Guid="*">
                <File Id="fil9B538F1192910C986D8E01FAEDC4CCAC" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.System.dll" />
            </Component>
            <Component Id="cmp2E674998C21ADDC96DAA042F0034BFAC" Guid="*">
                <File Id="fil4C68527A0F7A12B27419033BCB09991D" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.System.pdb" />
            </Component>
            <Component Id="cmpC9FB238A76E4A37BCE82CFB589FD7F1C" Guid="*">
                <File Id="fil10AD61CB16714C8705A373C3150D9865" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.TextFile.dll" />
            </Component>
            <Component Id="cmp52478C6D289E9E01F40870BC19D32808" Guid="*">
                <File Id="filB5D0CBF488FEB0FEF6134A93BB4BC77B" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.TextFile.pdb" />
            </Component>
            <Component Id="cmp79900D236DDD149FF1BC37E01F310282" Guid="*">
                <File Id="fil945D61975FDF17D1416A45F361B14575" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Variable.dll" />
            </Component>
            <Component Id="cmp4EB1BCA8E428469CC1D1AE4D38987CD4" Guid="*">
                <File Id="fil985A0CC6518EFC792EB2FFF9F8A79E7E" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Variable.pdb" />
            </Component>
            <Component Id="cmpC019E814A3E4959361D40BBD35E877FF" Guid="*">
                <File Id="fil8DA4D7F2A26FFA45A5700CCCE3A6F8B8" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Word.dll" />
            </Component>
            <Component Id="cmpD9FE04F10B79B6FA542E2D3FC1B9B369" Guid="*">
                <File Id="fil23F77DDB130B9B9672D6948707D4910F" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Word.dll.config" />
            </Component>
            <Component Id="cmp0B67C48A8D94B5CDC6E8E1E3723C374F" Guid="*">
                <File Id="fil44125D8DA935987679F9B45F8F7299F3" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Commands.Word.pdb" />
            </Component>
            <Component Id="cmp0AB47A54B491D4E8E7FF68A7EC4F2057" Guid="*">
                <File Id="fil58254DB5109F23497856986B9422F0E1" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Core.dll" />
            </Component>
            <Component Id="cmpEFF971387BD68B51D352AB5F5DADC88D" Guid="*">
                <File Id="fil185B6A4F42EB80732D14B49E4F01FAE0" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Core.dll.config" />
            </Component>
            <Component Id="cmp31588CECE99271FAA23E1DB1E5DC76AD" Guid="*">
                <File Id="fil9B959E4267435750C91EC2040BB44E68" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Core.pdb" />
            </Component>
            <Component Id="cmpCEE53B6BE496D9F56C05ABB708AE718C" Guid="*">
                <File Id="fil6B1DDBD901280FA4CAD83D23864297AD" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Engine.dll" />
            </Component>
            <Component Id="cmpAD3E986B31B67DFE028B7D0F24393332" Guid="*">
                <File Id="fil12F06E1BF377F6371BEB9446DF1AF291" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Engine.dll.config" />
            </Component>
            <Component Id="cmp0875044A3D94DC23BD52A55C3B164D7C" Guid="*">
                <File Id="fil96F0017813D79516B01267779C8761E0" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Engine.pdb" />
            </Component>
            <Component Id="cmp64FBCE08B0FC5D14FA31BC3402C4C844" Guid="*">
                <File Id="fil44EA6A1BC58C49D37F12185DB47BC018" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Server.dll" />
            </Component>
            <Component Id="cmpDCEBE232868F367BDF7DA693E1D15716" Guid="*">
                <File Id="filEDA90A4A9A0FFEFE7C31C8BF8786892E" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Server.dll.config" />
            </Component>
            <Component Id="cmpE668CD134B090234473F702309AEE17A" Guid="*">
                <File Id="fil025C58C8E1373294FAECE6C7A093E408" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Server.pdb" />
            </Component>
            <Component Id="cmp4DE8F72BB500C612172726E9F05B0748" Guid="*">
                <File Id="fil8F91CAAB0C138AA15B5403095EE78FE5" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Studio.exe" />
            </Component>
            <Component Id="cmpAB7C18B7A082CA519F9DB01F1D3CBFA0" Guid="*">
                <File Id="filC5213570CB4DCED277A3D972E0441331" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Studio.exe.config" />
            </Component>
            <Component Id="cmp6B58A3A626B78C54E611CE0047F92D64" Guid="*">
                <File Id="filC7F7F2FBA62523F65DF9C42B488DCCD2" KeyPath="yes" Source="$(var.HarvestPath)\OpenBots.Studio.pdb" />
            </Component>
            <Component Id="cmpEE5AB48BFCABC47AE33AE13DDD88CAB9" Guid="*">
                <File Id="fil242E5C00765E62335C706E4EBD11E1B9" KeyPath="yes" Source="$(var.HarvestPath)\Owin.dll" />
            </Component>
            <Component Id="cmp973DC7DF7FF7E09C5C63C0A29C5AFD96" Guid="*">
                <File Id="fil0B5D024DC264109228D24521853DF31A" KeyPath="yes" Source="$(var.HarvestPath)\RestSharp.dll" />
            </Component>
            <Component Id="cmpF6B88FAE443CDBAA2A4B1E39148AE30C" Guid="*">
                <File Id="filE8CEBA8F6F8953102F16BAE2CE54BBA8" KeyPath="yes" Source="$(var.HarvestPath)\RestSharp.xml" />
            </Component>
            <Component Id="cmp85611F10731E685654AC80D097C463BB" Guid="*">
                <File Id="filA01B662ED2996BAFD6D259511FE222DC" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.dll" />
            </Component>
            <Component Id="cmpA8787D5F7F72135C47F98D76EE3586EF" Guid="*">
                <File Id="fil8A018BB7FA2B4921DA1AEF2FB61D0993" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="cmpD5D5BF641421039AF687DB7D18902C11" Guid="*">
                <File Id="filDECE53F7C298496F16501FD1AC91B3DF" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Formatting.Compact.xml" />
            </Component>
            <Component Id="cmpB64CF6C8E80267E81E36D3E3A90068F8" Guid="*">
                <File Id="filEE4E6AEB15F654A9C5D28BCE36DD4AF8" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmpA28513868AF4CDE43C76574A317445BD" Guid="*">
                <File Id="fil7B56CBC70A36630F0FE6DD4FE2A5CEE5" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.File.pdb" />
            </Component>
            <Component Id="cmp64401E30C3E4796F6DBC6FDFDE5951F9" Guid="*">
                <File Id="fil924D2AB582858BBFCA34F6BA871CCB08" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.File.xml" />
            </Component>
            <Component Id="cmp4511053C272E77E695E01B7F90B3211F" Guid="*">
                <File Id="fil3FBE6E93C7E0356183398446DEA79FF0" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.Http.dll" />
            </Component>
            <Component Id="cmp032A4DBA5DA7D42B5F28F12511DDA378" Guid="*">
                <File Id="fil668040406A640CBF1D78C7CD5CC243B5" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.Http.xml" />
            </Component>
            <Component Id="cmp3566273F79562B94F8461BDA52E87C46" Guid="*">
                <File Id="filF2CDBE3CEECF9AD54446A7AC6AB04C1A" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.PeriodicBatching.dll" />
            </Component>
            <Component Id="cmpDDD3870E9FC0534C5E87C0074C08306E" Guid="*">
                <File Id="fil81046B48ACE848DF55A10B373BA02D1D" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.PeriodicBatching.xml" />
            </Component>
            <Component Id="cmp4E88CBD3E447AB7A7EC2D23F20A865C2" Guid="*">
                <File Id="filA503F056CDB7938089D3A7D984B1EBA3" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.RollingFile.dll" />
            </Component>
            <Component Id="cmp26ACAF2FA56937E89289AD2B2E2A1BA3" Guid="*">
                <File Id="fil5F76D4DD904D61554861DE83BBC82597" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.RollingFile.xml" />
            </Component>
            <Component Id="cmp420D95185D37F78AE431F7490004A78E" Guid="*">
                <File Id="filCDA8CBA31981E1716AE3AD6E65375A80" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.SignalR.dll" />
            </Component>
            <Component Id="cmp934297F6CCE3048BD6123D42BE24B0FE" Guid="*">
                <File Id="fil6ADBACA12D51D360ECDAEE903F8A7292" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.Sinks.SignalR.xml" />
            </Component>
            <Component Id="cmp3513E6ED06DD920D66EDEC5F63C9E215" Guid="*">
                <File Id="fil23F5CC12C2C0D93005E656BAB5C5E564" KeyPath="yes" Source="$(var.HarvestPath)\Serilog.xml" />
            </Component>
            <Component Id="cmp82B10DABB22BA9C2D6EF11BA56364A8B" Guid="*">
                <File Id="fil3C7F7FFEB64DB078DD9EA2725AEA0B3E" KeyPath="yes" Source="$(var.HarvestPath)\SharpSimpleNLG.dll" />
            </Component>
            <Component Id="cmp9898263C2467CDBF3DBAAC4470182C36" Guid="*">
                <File Id="filAF1FDE5235674782B8CE0FD1D5098630" KeyPath="yes" Source="$(var.HarvestPath)\stdole.dll" />
            </Component>
            <Component Id="cmp73078346AD867C43593B2FD39FB00EE2" Guid="*">
                <File Id="fil67F24708C083ABD16D5C1C8CC28B5EA1" KeyPath="yes" Source="$(var.HarvestPath)\SuperSocket.ClientEngine.dll" />
            </Component>
            <Component Id="cmpF9AE74F399346A5945BCE5E758EA7BEA" Guid="*">
                <File Id="fil8B504052261915F781224605A4965F8C" KeyPath="yes" Source="$(var.HarvestPath)\WebDriver.dll" />
            </Component>
            <Component Id="cmp856F2D552EDA91B961A5D806C4D8CBB8" Guid="*">
                <File Id="fil2D463F47629EC05A4FF17699C6B3D698" KeyPath="yes" Source="$(var.HarvestPath)\WebDriver.Support.dll" />
            </Component>
            <Component Id="cmp2E0BF06DC849793D7CC5EA2926C3D4B8" Guid="*">
                <File Id="fil4DAAB4BFDCBF17693994D03CF76D6EC6" KeyPath="yes" Source="$(var.HarvestPath)\WebDriver.Support.xml" />
            </Component>
            <Component Id="cmp9312CC5B51CCEBD8CC75257EAC2F5D56" Guid="*">
                <File Id="filAD2B5B67EE91972F0F155EAEEDA07AEB" KeyPath="yes" Source="$(var.HarvestPath)\WebDriver.xml" />
            </Component>
            <Component Id="cmp3E4CAA3408E0647D347E58E8C02867F4" Guid="*">
                <File Id="fil38572681EB4B7D9C7585344A3B0F2A8D" KeyPath="yes" Source="$(var.HarvestPath)\WebSocket4Net.dll" />
            </Component>
            <Component Id="cmp6CA1ADD68166B096B635ECB7E27DCA8B" Guid="*">
                <File Id="filBD8D2C79E5DED42C9EFAC5610D770BE4" KeyPath="yes" Source="$(var.HarvestPath)\WindowsInput.dll" />
            </Component>
            <Component Id="cmp348DF60BD58868A20E8D20A09873153F" Guid="*">
                <File Id="filE31EB78BD7B96BE1444C89A6EDE1A978" KeyPath="yes" Source="$(var.HarvestPath)\WindowsInput.xml" />
            </Component>
            <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de">
                <Component Id="cmp122AC45B9760B71AD7D0160436D772F2" Guid="*">
                    <File Id="fil346BC46F14CBD953F7805F59E7478C31" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es">
                <Component Id="cmp7561C5BF7E92B89B165CBE2406142B69" Guid="*">
                    <File Id="fil4C200BD4BC877D0EFE58664388FD7E20" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir68473FD802C13BE1C3C8A541EC39CC07" Name="Firefox">
                <Component Id="cmpF1B1FCDF8EE4062882915CCE48F0A4B7" Guid="*">
                    <File Id="fil2D9011A9B14EABC73494AB0754807A9A" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\AccessibleMarshal.dll" />
                </Component>
                <Component Id="cmp4D2C96C2E657A0033D537A39C012CC0E" Guid="*">
                    <File Id="fil4AA8E1D7BB46528DF8E228A233F61FDC" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\breakpadinjector.dll" />
                </Component>
                <Component Id="cmp7D51A6ACA00AD9BD57D4865D2E49A4B1" Guid="*">
                    <File Id="fil79C487B4A97AE9E18AC57982110F3E47" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\d3dcompiler_47.dll" />
                </Component>
                <Component Id="cmp561B8BF8DDC2CA488CF1E2AD64777006" Guid="*">
                    <File Id="fil2DA68B5EC358B704B4523CE7FAD5E245" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\freebl3.dll" />
                </Component>
                <Component Id="cmpC6AC40F7DA802B051DCCF8501F0A02D7" Guid="*">
                    <File Id="filE3B3A97D8D2D792F8BA7416B897743F3" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icudt58.dll" />
                </Component>
                <Component Id="cmp89D3D56B270FF883E6EAB1F8082F63C0" Guid="*">
                    <File Id="filC68113CEC6F1132391F151E4D137AB5A" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuin58.dll" />
                </Component>
                <Component Id="cmp91A8CF4EBBC497268288D1DE3643BE8B" Guid="*">
                    <File Id="fil13C07CC7AD8C44926CC411B451ACC71D" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuuc58.dll" />
                </Component>
                <Component Id="cmp62012F4FDDFB89A056ED6E3BB1C3B5FB" Guid="*">
                    <File Id="filF5C577C461A4A251910B54A6F955C49C" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\lgpllibs.dll" />
                </Component>
                <Component Id="cmpE58DE29D0459CFDC2A08216D6255D2FA" Guid="*">
                    <File Id="fil345F7413B717370E0C729FDE9071E725" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\libEGL.dll" />
                </Component>
                <Component Id="cmpA57DC3375353C4F3EA1DE7AA50D89317" Guid="*">
                    <File Id="fil3C42D66C3A210DBDBB3655353758E104" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\libGLESv2.dll" />
                </Component>
                <Component Id="cmp352FB6A6529CC226EF5E768426AFCD65" Guid="*">
                    <File Id="filD8A9B9681A48760825456BF44AC0A72D" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\mozglue.dll" />
                </Component>
                <Component Id="cmp823072BAA39287F31BC9EBC1C32D4DB6" Guid="*">
                    <File Id="filA8A485174C774DEB8E58B1D89E6E4B63" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nss3.dll" />
                </Component>
                <Component Id="cmpACEF879D39C98BFBC4233A1D356918D0" Guid="*">
                    <File Id="filFE69A9EE08FC8102B55CCB17CD967A7B" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nssckbi.dll" />
                </Component>
                <Component Id="cmp8783C96468B50BEA543C68A203643835" Guid="*">
                    <File Id="fil97E5796C88965DCD47A017FE1720B55C" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nssdbm3.dll" />
                </Component>
                <Component Id="cmp12EF7DB4D956E80059A2CCEAD1365100" Guid="*">
                    <File Id="fil7827DFEFFFDBB0C6BDE5BD7D0B01A171" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\omni.ja" />
                </Component>
                <Component Id="cmp1F96CABA39B5C94FEF5E0D7B4D780125" Guid="*">
                    <File Id="fil4E0126714186A74A8EFAAB069F33E8A2" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\plugin-container.exe" />
                </Component>
                <Component Id="cmp138D359C8E138F9798E10BF7F44B6E35" Guid="*">
                    <File Id="filAF4978341D1FC77A83D1D8407B29A1EF" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\plugin-hang-ui.exe" />
                </Component>
                <Component Id="cmp66D08599DF5CF02A925D5804556C20FD" Guid="*">
                    <File Id="filA92811F3E9342627375E52A19BEDA499" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\sandboxbroker.dll" />
                </Component>
                <Component Id="cmp50C044F63E7FBE412637FB57BF21F751" Guid="*">
                    <File Id="filBAF7C5800D4AFE798C8159AE9DF48258" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\softokn3.dll" />
                </Component>
                <Component Id="cmp9444E31EE2068C7D2F31F33450BFD7DA" Guid="*">
                    <File Id="fil84901C028B677070A722BFDC287AB480" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\xul.dll" />
                </Component>
            </Directory>
            <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr">
                <Component Id="cmp849FB071766B106EBC7C25327C4EEB4D" Guid="*">
                    <File Id="fil9BC633DC0B821B61B1CD951103E874B8" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it">
                <Component Id="cmpEC2174B6CA09DD797EDB7A06D8CCE734" Guid="*">
                    <File Id="fil4C437B901C9E1595262AB81BA3449A2F" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir317225C39C749B1231BB741597D2648A" Name="zh-CN">
                <Component Id="cmp3D1955F917D03D6ED783F9B5021FF3D5" Guid="*">
                    <File Id="fil9FC9A5733324B8360A5CD92C93B744A9" KeyPath="yes" Source="$(var.HarvestPath)\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp58D7AAAFBEABC5E2AB0B9DC9B5E54118" />
            <ComponentRef Id="cmpA6410FA276AD3F226134ED589610275B" />
            <ComponentRef Id="cmp40CB0D742C07A79DCFDBB4188E2E51AF" />
            <ComponentRef Id="cmpD2DCD40311718811E689EA8C427D0EB1" />
            <ComponentRef Id="cmpA36939D16EA53255F8311CB7D21E9E6C" />
            <ComponentRef Id="cmpFC9F0897223CE1BE4F8F4C9A9C15FE73" />
            <ComponentRef Id="cmp0328C4715542CB237D7CFA282ED134BD" />
            <ComponentRef Id="cmp625C7DA3FF068750FCAE9CDE7BB28807" />
            <ComponentRef Id="cmpD9F4A2BDEF930D57C2AF781C159F9F33" />
            <ComponentRef Id="cmp399ED9264B10FDAAF97C6F536348AD50" />
            <ComponentRef Id="cmpAE791216F77EC2FA091A40EEA559FA1A" />
            <ComponentRef Id="cmp7D831B28A4DC403CDB1E6D8CF11100E0" />
            <ComponentRef Id="cmp73BDA529D96BD1282941FB412BB1FCD4" />
            <ComponentRef Id="cmp46BB6BC3671571BE3DDEA3640AD33016" />
            <ComponentRef Id="cmpC0FDBCF665A2705D7EACD32C028826EE" />
            <ComponentRef Id="cmpBAADFD088FFFEE8E613075A661A4FEDD" />
            <ComponentRef Id="cmpDA2CDB61EA22F9013AC8D763785133B6" />
            <ComponentRef Id="cmpBB1ECDA94FE06368CD4B0FAC1A652A62" />
            <ComponentRef Id="cmp014034F01F31A64E736E7FA3B6D65202" />
            <ComponentRef Id="cmp180527488AB1F15F379FE29457E1F1B3" />
            <ComponentRef Id="cmp129D7FD79BAB913D956A4E958428F971" />
            <ComponentRef Id="cmp53E9CF192B51C8F5E910058EFBE708FA" />
            <ComponentRef Id="cmp8FDDD50E9E5259B723A914D216EB7AD1" />
            <ComponentRef Id="cmp5ED48016E97D36877F3D38926FA36EDC" />
            <ComponentRef Id="cmpE7F0A2B4FBE1EFF4049C50906D13823A" />
            <ComponentRef Id="cmp677CBCA9CA54E2F8A9D73B42AC272022" />
            <ComponentRef Id="cmp8E9F81D7FD9CF3CBCFB6946ADFF4256B" />
            <ComponentRef Id="cmp0009D2008D70C35D77BF4321D67AC4E6" />
            <ComponentRef Id="cmpCA8743A9927ECA60B7931AC68BE5AEFC" />
            <ComponentRef Id="cmpAE60A2C87A644A8F76B7A4DF7FD2111C" />
            <ComponentRef Id="cmpED2509792185971713D4CF5E375D9301" />
            <ComponentRef Id="cmp81349E68864A9DD92CC2BB978EB8DCAA" />
            <ComponentRef Id="cmp7BD0B7E18F84542F5AAD59594283DF0F" />
            <ComponentRef Id="cmp189F6AF473792670A4427E7A4D337656" />
            <ComponentRef Id="cmp3A7CBD429DE881B70A00AF0E42E2125C" />
            <ComponentRef Id="cmp8A9838F831A27BD7A5AE7B622A9512E5" />
            <ComponentRef Id="cmp4CDF7DFD2D0E95016925C6786A10C503" />
            <ComponentRef Id="cmpEC5CA923F382FAC50F6D948F86E329B2" />
            <ComponentRef Id="cmpDEC75638C0BB07F6960173B8498F1A9F" />
            <ComponentRef Id="cmpBB4A738F19BB563645EB311516CA389B" />
            <ComponentRef Id="cmp9D1005DF699EBF084805D8735C59BCC8" />
            <ComponentRef Id="cmp8C2511F707D7AA63897ABED227EF4BE3" />
            <ComponentRef Id="cmp5A617858439D8478E29D47BB66B4E58C" />
            <ComponentRef Id="cmpEACBA7B84643F921B317B0AB9199C1D8" />
            <ComponentRef Id="cmp5315A41C4F74625E0074BD0DEBD99879" />
            <ComponentRef Id="cmpD972448EB7C8EC4C9948B8C6E1C7D150" />
            <ComponentRef Id="cmpAC63E551CD5E4D09359FD6EFB16E5476" />
            <ComponentRef Id="cmpB20DB7D8CC812FDE418337DAABCED796" />
            <ComponentRef Id="cmp5EBFE2CBD839D41D9CB67E021701F5B9" />
            <ComponentRef Id="cmp5F4D123B12849EE4BD0998E5A9BEBBFA" />
            <ComponentRef Id="cmpA4E7E464633220BCE59C0B4AC40FE573" />
            <ComponentRef Id="cmp501D25942B22D501CE2C335E6B54AB32" />
            <ComponentRef Id="cmpF459F792F00CE4639AD1DBBFAD6405F5" />
            <ComponentRef Id="cmpE9DF33DF51CDB0B0D837FFCCD47C8E37" />
            <ComponentRef Id="cmp1F6D10ADD1613A64DB921EC13D5BB976" />
            <ComponentRef Id="cmp152ABB2E195D983B770CCF72743208EC" />
            <ComponentRef Id="cmp3D73CD3655835BDC098C5BD4C3199CDD" />
            <ComponentRef Id="cmp48A1E8CB479900FEC1682E16E7481E6D" />
            <ComponentRef Id="cmp359E34F239AA98DFFAAC3C5DC618DD3E" />
            <ComponentRef Id="cmpAD7F6F77D1AEE07F6A29E9025F4E509B" />
            <ComponentRef Id="cmp45471632C9E427299D63311A2CE2F573" />
            <ComponentRef Id="cmpC410F8B1451702A21B219BC8B5E4C14D" />
            <ComponentRef Id="cmp73F91B532377FD78AB3F2669469684ED" />
            <ComponentRef Id="cmp4096139D25AA2C7791FE2AD1EC2B0D68" />
            <ComponentRef Id="cmpC421924EE4A39ADCD32DC6A600F8B640" />
            <ComponentRef Id="cmp6B160D553937C9CE4EE8A1DFD856C794" />
            <ComponentRef Id="cmp0DE7BCAC8510CC532ADABE557FEE6E2F" />
            <ComponentRef Id="cmp77E3E1E800E519E9369F0E4C1FFEB2D3" />
            <ComponentRef Id="cmpACB4E945F2297A77033200BA924C8D6A" />
            <ComponentRef Id="cmp1ED446B79F176AB5C3A5F2E6B37B3B43" />
            <ComponentRef Id="cmp8A927BC5C3279A0E3CAFB55AD0E0A784" />
            <ComponentRef Id="cmp14E424ACDEDCD0FCA40D518CD069E140" />
            <ComponentRef Id="cmp6A50A2AD44CA6D815329DD63249F1A93" />
            <ComponentRef Id="cmp9DAC9731DF9C92F11DF4A867E0CD010F" />
            <ComponentRef Id="cmp3A28A8822B173CC9CE1309396718CD7F" />
            <ComponentRef Id="cmp25BF0F5937F12C9ED6D6196142C1F5AD" />
            <ComponentRef Id="cmpBD6E2818187715A95B383532A3B97453" />
            <ComponentRef Id="cmp2E674998C21ADDC96DAA042F0034BFAC" />
            <ComponentRef Id="cmpC9FB238A76E4A37BCE82CFB589FD7F1C" />
            <ComponentRef Id="cmp52478C6D289E9E01F40870BC19D32808" />
            <ComponentRef Id="cmp79900D236DDD149FF1BC37E01F310282" />
            <ComponentRef Id="cmp4EB1BCA8E428469CC1D1AE4D38987CD4" />
            <ComponentRef Id="cmpC019E814A3E4959361D40BBD35E877FF" />
            <ComponentRef Id="cmpD9FE04F10B79B6FA542E2D3FC1B9B369" />
            <ComponentRef Id="cmp0B67C48A8D94B5CDC6E8E1E3723C374F" />
            <ComponentRef Id="cmp0AB47A54B491D4E8E7FF68A7EC4F2057" />
            <ComponentRef Id="cmpEFF971387BD68B51D352AB5F5DADC88D" />
            <ComponentRef Id="cmp31588CECE99271FAA23E1DB1E5DC76AD" />
            <ComponentRef Id="cmpCEE53B6BE496D9F56C05ABB708AE718C" />
            <ComponentRef Id="cmpAD3E986B31B67DFE028B7D0F24393332" />
            <ComponentRef Id="cmp0875044A3D94DC23BD52A55C3B164D7C" />
            <ComponentRef Id="cmp64FBCE08B0FC5D14FA31BC3402C4C844" />
            <ComponentRef Id="cmpDCEBE232868F367BDF7DA693E1D15716" />
            <ComponentRef Id="cmpE668CD134B090234473F702309AEE17A" />
            <ComponentRef Id="cmp4DE8F72BB500C612172726E9F05B0748" />
            <ComponentRef Id="cmpAB7C18B7A082CA519F9DB01F1D3CBFA0" />
            <ComponentRef Id="cmp6B58A3A626B78C54E611CE0047F92D64" />
            <ComponentRef Id="cmpEE5AB48BFCABC47AE33AE13DDD88CAB9" />
            <ComponentRef Id="cmp973DC7DF7FF7E09C5C63C0A29C5AFD96" />
            <ComponentRef Id="cmpF6B88FAE443CDBAA2A4B1E39148AE30C" />
            <ComponentRef Id="cmp85611F10731E685654AC80D097C463BB" />
            <ComponentRef Id="cmpA8787D5F7F72135C47F98D76EE3586EF" />
            <ComponentRef Id="cmpD5D5BF641421039AF687DB7D18902C11" />
            <ComponentRef Id="cmpB64CF6C8E80267E81E36D3E3A90068F8" />
            <ComponentRef Id="cmpA28513868AF4CDE43C76574A317445BD" />
            <ComponentRef Id="cmp64401E30C3E4796F6DBC6FDFDE5951F9" />
            <ComponentRef Id="cmp4511053C272E77E695E01B7F90B3211F" />
            <ComponentRef Id="cmp032A4DBA5DA7D42B5F28F12511DDA378" />
            <ComponentRef Id="cmp3566273F79562B94F8461BDA52E87C46" />
            <ComponentRef Id="cmpDDD3870E9FC0534C5E87C0074C08306E" />
            <ComponentRef Id="cmp4E88CBD3E447AB7A7EC2D23F20A865C2" />
            <ComponentRef Id="cmp26ACAF2FA56937E89289AD2B2E2A1BA3" />
            <ComponentRef Id="cmp420D95185D37F78AE431F7490004A78E" />
            <ComponentRef Id="cmp934297F6CCE3048BD6123D42BE24B0FE" />
            <ComponentRef Id="cmp3513E6ED06DD920D66EDEC5F63C9E215" />
            <ComponentRef Id="cmp82B10DABB22BA9C2D6EF11BA56364A8B" />
            <ComponentRef Id="cmp9898263C2467CDBF3DBAAC4470182C36" />
            <ComponentRef Id="cmp73078346AD867C43593B2FD39FB00EE2" />
            <ComponentRef Id="cmpF9AE74F399346A5945BCE5E758EA7BEA" />
            <ComponentRef Id="cmp856F2D552EDA91B961A5D806C4D8CBB8" />
            <ComponentRef Id="cmp2E0BF06DC849793D7CC5EA2926C3D4B8" />
            <ComponentRef Id="cmp9312CC5B51CCEBD8CC75257EAC2F5D56" />
            <ComponentRef Id="cmp3E4CAA3408E0647D347E58E8C02867F4" />
            <ComponentRef Id="cmp6CA1ADD68166B096B635ECB7E27DCA8B" />
            <ComponentRef Id="cmp348DF60BD58868A20E8D20A09873153F" />
            <ComponentRef Id="cmp122AC45B9760B71AD7D0160436D772F2" />
            <ComponentRef Id="cmp7561C5BF7E92B89B165CBE2406142B69" />
            <ComponentRef Id="cmpF1B1FCDF8EE4062882915CCE48F0A4B7" />
            <ComponentRef Id="cmp4D2C96C2E657A0033D537A39C012CC0E" />
            <ComponentRef Id="cmp7D51A6ACA00AD9BD57D4865D2E49A4B1" />
            <ComponentRef Id="cmp561B8BF8DDC2CA488CF1E2AD64777006" />
            <ComponentRef Id="cmpC6AC40F7DA802B051DCCF8501F0A02D7" />
            <ComponentRef Id="cmp89D3D56B270FF883E6EAB1F8082F63C0" />
            <ComponentRef Id="cmp91A8CF4EBBC497268288D1DE3643BE8B" />
            <ComponentRef Id="cmp62012F4FDDFB89A056ED6E3BB1C3B5FB" />
            <ComponentRef Id="cmpE58DE29D0459CFDC2A08216D6255D2FA" />
            <ComponentRef Id="cmpA57DC3375353C4F3EA1DE7AA50D89317" />
            <ComponentRef Id="cmp352FB6A6529CC226EF5E768426AFCD65" />
            <ComponentRef Id="cmp823072BAA39287F31BC9EBC1C32D4DB6" />
            <ComponentRef Id="cmpACEF879D39C98BFBC4233A1D356918D0" />
            <ComponentRef Id="cmp8783C96468B50BEA543C68A203643835" />
            <ComponentRef Id="cmp12EF7DB4D956E80059A2CCEAD1365100" />
            <ComponentRef Id="cmp1F96CABA39B5C94FEF5E0D7B4D780125" />
            <ComponentRef Id="cmp138D359C8E138F9798E10BF7F44B6E35" />
            <ComponentRef Id="cmp66D08599DF5CF02A925D5804556C20FD" />
            <ComponentRef Id="cmp50C044F63E7FBE412637FB57BF21F751" />
            <ComponentRef Id="cmp9444E31EE2068C7D2F31F33450BFD7DA" />
            <ComponentRef Id="cmp849FB071766B106EBC7C25327C4EEB4D" />
            <ComponentRef Id="cmpEC2174B6CA09DD797EDB7A06D8CCE734" />
            <ComponentRef Id="cmp3D1955F917D03D6ED783F9B5021FF3D5" />
        </ComponentGroup>
    </Fragment>
</Wix>